body{
font-family: 'Roboto',sans-serif;
background-color: #ffffff;
color: #434455;
}
.logo{
    font-family: 'Raleway' ,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.log{
    color: #2e2f42;
}
.link_{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link_:hover, link_:focus{
    color: #404bbf;
}
.adres{
    font-style: normal;
}
.adlink{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
 .adlink_:hover, adlink_:focus {
     color: #404bbf;
 }
.fot{
    background-color: #2e2f42;
}
.logg{
    color:#2e2f42;
}
.fotp{
    line-height: 1.5;
    color:#f4f4fd;
    letter-spacing: 0.02em;
    
}